.feed {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 30px;
}

.TRENDING{
    width:200px;
    padding: 30px 0px 0px 30px;
}