
.header{
  display: grid;
  grid-template-columns: 20% 50% 30%;
  width: 100%;
    height: 85px;
    background-color: #111036;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    align-items: center;
    justify-items: center;
}

.logos {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search {
  width: 350px;
  padding: 14px 18px;
  border: none;
  border-radius: 14px;
  background-color: #1b1a4d;
  color: white;
  font-size: 0.95rem;
  outline: none;
}
.header-icons{
  align-items: center;
}
.icon-btn {
  width: 10%;

  margin-right:10px;
  cursor: pointer;
}
.new-post {
  width: 36%;
  margin-left:40px;
  border-radius: 10px;
  cursor: pointer;
}
