.sidebar {
  height: 100vh;
  background-color: #111036;
  border-right: 1px solid rgba(255,255,255,0.08);
  padding: 30px 20px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
.stat_btn{
  color:white;
  background-color: #282745;
  border: none;
  height: 30px;
  border-radius: 7px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.heart-icon, .person-icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.profile-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-border{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: linear-gradient(
    0deg,
    #E1306C,
    #833AB4,
    #405DE6
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.username {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
   margin: 0%;
   font-family: sans-serif;
}

.bio {
  color: #b7b7d1;
  line-height: 1.5;
  margin: 0%;
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: white;
  margin-top: 10px;
}

.stats span {
  font-size: 0.95rem;
}


.action-btn{
  color: white;
  cursor: pointer;
}
.action_icon{
    width: auto;
    height: 60%;
}
.actions{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    justify-content: space-evenly;
    gap: 20px;
    width:90%;
}