.sidebar {
  height: 100vh;

  background-color: #111036;

  border-right: 1px solid rgba(255,255,255,0.08);

  padding: 30px 20px;

  position: sticky;

  top: 0;

  display: flex;
  flex-direction: column;

  gap: 16px;

  align-items: center;
}
.stat_btn{
  color:white;
  background-color: #282745;
  border: none;
  height: 30px;
  border-radius: 7px;
  width: 80px;
}
.heart-icon, .person-icon{
width: 20px;
height: 20px;
margin-right: 5px;


}

.profile-picture {
  width: 90px;
  height: 90px;

  border-radius: 50%;

  object-fit: cover;

}
.profile-border{
     width: 100px;
  height: 100px;

  border-radius: 50%;

  background: linear-gradient(
    45deg,
    #E1306C,
    #833AB4,
    #405DE6
  );

  display: flex;
  align-items: center;
  justify-content: center;
}


.username {
  color: white;

  font-size: 1.3rem;

  font-weight: bold;

   margin: 0%;
}

.bio {
  color: #b7b7d1;

  line-height: 1.5;

  margin: 0%;
}

.stats {
  display: flex;

  flex-direction: row;

  gap: 10px;

  color: white;
}

.stats span {
  font-size: 0.95rem;
}

.edit-profile {
  margin-top: 10px;

  padding: 12px;

  border: none;

  border-radius: 12px;

  background: linear-gradient(
    45deg,
    #E1306C,
    #833AB4,
    #405DE6
  );

  color: white;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;
}

.edit-profile:hover {
  transform: scale(1.03);
}

.action-btn{
  color: white;
}
.actions{
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}